@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Add your custom styles here */

.no-drag-highlight *::selection {
  background-color: transparent;
  color: inherit;
}
