[Unit]
Description=Bootstrap a new kubernetes cluster.
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/smartx-k8s-bootstrap.sh
Restart=on-failure
RestartSec=30
User=root
Group=root

[Install]
WantedBy=multi-user.target
